body{
  background-color: lightseagreen;
  font-family: Verdana;
  max-width: 900px;
  margin: auto;
}

.photo{
  border: 1px solid black;
  border-radius: 50px;
}

#title .subtitle .post_title{
  color: #505050;
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}



.post_title {
  font-size: 16px;
  font-style: italic;
  margin:0;
  margin-bottom: 15px;
 }

.post {
  background: white;
  padding: 15px;
  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 10px;
 }
 
.post_content{
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-align: justify;
 }

.post_image {
  margin-bottom: 15px;
 }

.contacts_list {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
} 

.contacts_list li a {
  color: black;
}
